<p style="color: green"><%= notice %></p>

<%= render @game_rule %>

<div>
  <%= link_to "Edit this game rule", edit_game_rule_path(@game_rule) %> |
  <%= link_to "Back to game rules", game_rules_path %>

  <%= button_to "Destroy this game rule", @game_rule, method: :delete %>
</div>
